<!DOCTYPE html>
<html lang="en">
<head>
	<title>Ex 1</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">  
	<script type="text/javascript" src="vendor/bootstrap.js"></script>
	<link rel="stylesheet" href="vendor/bootstrap.css">
	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=vietnamese" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="top">
		<nav class="navbar navbar-dark bg-faded navbar-fixed-top menutren">
			<div class="container">
				<a class="navbar-brand logo text-uppercase" href="#">Start Bootstrap</a>
				<button class="navbar-toggler hidden-lg-up nut_button" type="button" data-toggle="collapse" data-target="#thanhmenu">
					&#9776;
				</button>
				<div class="collapse navbar-toggleable-md" id="thanhmenu">
					<ul class="nav navbar-nav float-lg-right menutrenphai text-uppercase">
						<li class="nav-item">
							<a class="nav-link" href="#">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Services</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Portfolio</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contact</a>
						</li>
					</ul>
				</div>
			</div> <!-- het container -->
		</nav> <!-- het navbar -->		
		<div class="banner">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-8 push-sm-2 text-xs-center">
						<h2 class="tdto text-uppercase">Your Favorite Source of Free Bootstrap Themes</h2>
						<p class="trichdan">Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
						<a href="#" class="btn btn-primary btn-lg nutaction text-uppercase mt-2">Find Out More</a>
					</div>
				</div>
			</div> <!-- het container -->
		</div> <!-- het banner -->
	</div> <!-- het top -->
	<section class="noidung1">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-8 push-sm-2 text-xs-center">
					<h3 class="tdto2">We've got what you need!</h3>
					<p class="trichdan2">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
					<a href="#" class="btn btn-primary btn-lg nutaction2 text-uppercase mt-2">Get Started!</a>
				</div>
			</div>
		</div> <!-- container-fluid -->
	</section> <!-- section -->
	<section class="noidung3">
		<div class="container">
			<h3 class="tdto3 text-uppercase text-xs-center">At Your Service</h3>
			<div class="row _1khoi">
				<div class="col-lg-3 col-md-6 col-sm-12 text-xs-center">
					<i class="fas fa-4x fa-gem icon"></i>
					<h3 class="tdnho1">
						Sturdy Templates
					</h3>
					<p class="trichdannho1">
						Our templates are updated regularly so they don't break.
					</p>
				</div> <!-- col-1 -->
				<div class="col-lg-3 col-md-6 col-sm-12 text-xs-center">
					<i class="fas fa-4x fa-paper-plane icon"></i>
					<h3 class="tdnho1">
						Sturdy Templates
					</h3>
					<p class="trichdannho1">
						Our templates are updated regularly so they don't break.
					</p>
				</div> <!-- col-2 -->
				<div class="col-lg-3 col-md-6 col-sm-12 text-xs-center">
					<i class="fas fa-4x fa-code icon"></i>
					<h3 class="tdnho1">
						Sturdy Templates
					</h3>
					<p class="trichdannho1">
						Our templates are updated regularly so they don't break.
					</p>
				</div> <!-- col-3 -->
				<div class="col-lg-3 col-md-6 col-sm-12 text-xs-center">
					<i class="fas fa-4x fa-heart icon"></i>
					<h3 class="tdnho1">
						Sturdy Templates
					</h3>
					<p class="trichdannho1">
						Our templates are updated regularly so they don't break.
					</p>
				</div> <!-- col-4 -->
			</div> <!-- row -->
		</div> <!-- container -->
	</section> <!-- noidung3 -->
	<section class="noidung4">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-6 col-12 _1img">
					<div class="anh">
						<img src="2.jpg" alt="" class="img-fluid">
					</div><!-- anh -->
					<div class="hover_nd">
						<p class="text-uppercase chunho">category</p>
						<h4 class="chunho2">Project Name</h4>
					</div> <!-- hover_nd -->
				</div> <!-- _khoi 1 -->
				<div class="col-lg-4 col-md-6 col-sm-6 col-12 _1img">
					<div class="anh">
						<img src="3.jpg" alt="" class="img-fluid">
					</div><!-- anh -->
					<div class="hover_nd">
						<p class="text-uppercase chunho">category</p>
						<h4 class="chunho2">Project Name</h4>
					</div> <!-- hover_nd -->
				</div> <!-- _khoi 1 -->
				<div class="col-lg-4 col-md-6 col-sm-6 col-12 _1img">
					<div class="anh">
						<img src="4.jpg" alt="" class="img-fluid">
					</div><!-- anh -->
					<div class="hover_nd">
						<p class="text-uppercase chunho">category</p>
						<h4 class="chunho2">Project Name</h4>
					</div> <!-- hover_nd -->
				</div> <!-- _khoi 1 -->
				<div class="col-lg-4 col-md-6 col-sm-6 col-12 _1img">
					<div class="anh">
						<img src="5.jpg" alt="" class="img-fluid">
					</div><!-- anh -->
					<div class="hover_nd">
						<p class="text-uppercase chunho">category</p>
						<h4 class="chunho2">Project Name</h4>
					</div> <!-- hover_nd -->
				</div> <!-- _khoi 1 -->
				<div class="col-lg-4 col-md-6 col-sm-6 col-12 _1img">
					<div class="anh">
						<img src="6.jpg" alt="" class="img-fluid">
					</div><!-- anh -->
					<div class="hover_nd">
						<p class="text-uppercase chunho">category</p>
						<h4 class="chunho2">Project Name</h4>
					</div> <!-- hover_nd -->
				</div> <!-- _khoi 1 -->
				<div class="col-lg-4 col-md-6 col-sm-6 col-12 _1img">
					<div class="anh">
						<img src="7.jpg" alt="" class="img-fluid">
					</div><!-- anh -->
					<div class="hover_nd">
						<p class="text-uppercase chunho">category</p>
						<h4 class="chunho2">Project Name</h4>
					</div> <!-- hover_nd -->
				</div> <!-- _khoi 1 -->
			</div> <!-- row -->
		</div><!-- container-fluid -->
	</section> <!-- noidung4 -->
	<section class="noidung5">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-8 push-sm-2 text-xs-center">
					<h3 class="tdto5 text-uppercase">Free Download at Start Bootstrap!</h3>
					<a href="#" class="btn btn-primary btn-lg nutaction5 text-uppercase mt-2">Download Now!</a>
				</div>
			</div>
		</div> <!-- container-fluid -->
	</section> <!-- noidung5 -->
	<section class="noidung6">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 push-sm-2 text-xs-center">
					<h3 class="tdto6 text-uppercase">Let's Get In Touch!</h3>
					<p class="trichdan6">eady to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-12 text-xs-center phone">
					<i class="fas fa-3x fa-phone"></i>
					<p class="mt-1">123-456-6789</p>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-12 text-xs-center mail">
					<i class="fas fa-3x fa-envelope"></i>
					<a href="#"><p class="mt-1">feedback@startbootstrap.com</p></a>
				</div>
			</div>
		</div>
	</section>
</body>
</html>